---
---

<center><h1>üìç üìç Assignment: Sorting and Aggregating Data üìç üìç</h1></center>

---

#### `READ THE DATASET`

---

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('dataset/time_series.csv')

In [3]:
data.head()

   ID          Datetime  Count
0   0  25-08-2012 00:00      8
1   1  25-08-2012 01:00      2
2   2  25-08-2012 02:00      6
3   3  25-08-2012 03:00      2
4   4  25-08-2012 04:00      2

In [4]:
data.dtypes

ID           int64
Datetime    object
Count        int64
dtype: object

#### `Convert the Datetime column to pandas datetime object`

---

In [18]:
# WRITE YOUR CODE HERE
import datetime
data.Datetime=pd.to_datetime(data.Datetime)

In [20]:
data.dtypes

ID                   int64
Datetime    datetime64[ns]
Count                int64
dtype: object

---

####  `Create the following features using the Datetime feature`

- day of month
- month
- day of year
- hour

---

In [23]:
# WRITE YOUR CODE HERE
import pandas as pd

# Create the DataFrame
data = {
    'ID': [0, 1, 2, 3, 4],
    'Datetime': ['25-08-2012 00:00', '25-08-2012 01:00', '25-08-2012 02:00', '25-08-2012 03:00', '25-08-2012 04:00'],
    'Count': [8, 2, 6, 2, 2]
}
df = pd.DataFrame(data)

# Convert the "Datetime" column to pandas datetime object
df['Datetime'] = pd.to_datetime(df['Datetime'], format='%d-%m-%Y %H:%M')

# Create new features
df['DayOfMonth'] = df['Datetime'].dt.day
df['Month'] = df['Datetime'].dt.month
df['DayOfYear'] = df['Datetime'].dt.dayofyear
df['Hour'] = df['Datetime'].dt.hour

# Display the DataFrame with new features
print(df)

   ID            Datetime  Count  DayOfMonth  Month  DayOfYear  Hour
0   0 2012-08-25 00:00:00      8          25      8        238     0
1   1 2012-08-25 01:00:00      2          25      8        238     1
2   2 2012-08-25 02:00:00      6          25      8        238     2
3   3 2012-08-25 03:00:00      2          25      8        238     3
4   4 2012-08-25 04:00:00      2          25      8        238     4

In [22]:
# Create new features 
df = pd.DataFrame(data)
df['DayOfMonth'] = df['Datetime'].dt.day
df['Month'] = df['Datetime'].dt.month
df['DayOfYear'] = df['Datetime'].dt.dayofyear
df['Hour'] = df['Datetime'].dt.hour

# Display the DataFrame with new features
print(df)

          ID            Datetime  Count  DayOfMonth  Month  DayOfYear  Hour
0          0 2012-08-25 00:00:00      8          25      8        238     0
1          1 2012-08-25 01:00:00      2          25      8        238     1
2          2 2012-08-25 02:00:00      6          25      8        238     2
3          3 2012-08-25 03:00:00      2          25      8        238     3
4          4 2012-08-25 04:00:00      2          25      8        238     4
...      ...                 ...    ...         ...    ...        ...   ...
18283  18283 2014-09-25 19:00:00    868          25      9        268    19
18284  18284 2014-09-25 20:00:00    732          25      9        268    20
18285  18285 2014-09-25 21:00:00    702          25      9        268    21
18286  18286 2014-09-25 22:00:00    580          25      9        268    22
18287  18287 2014-09-25 23:00:00    534          25      9        268    23

[18288 rows x 7 columns]

---

#### `Consider the following dataframe`

---

In [25]:
sample_df = pd.DataFrame({
    'id'   :  [1, 2, 3, 4, 5],
    'name' :  [ 'Akash', 'Akansha', 'Naman', 'Pulkit', 'Anand'],
    'marks':  [ 22, 23, 43, 41, 12]
})
sample_df

   id     name  marks
0   1    Akash     22
1   2  Akansha     23
2   3    Naman     43
3   4   Pulkit     41
4   5    Anand     12

#### Sort the  dataframe by `marks` column in descending order

---

In [26]:
# WRITE YOUR CODE HERE
sorted_df = sample_df.sort_values(by='marks', ascending=False)
print(sorted_df)

   id     name  marks
2   3    Naman     43
3   4   Pulkit     41
1   2  Akansha     23
0   1    Akash     22
4   5    Anand     12

#### Consider another dataframe city
---

In [28]:
city = pd.DataFrame({
    'name' : ['Akash', 'Akansha', 'Pulkit', 'Anand', 'Naman'],
    'city' : ['Delhi', 'Gurugram', 'Gurugram', 'Delhi', 'Noida']
})
city

      name      city
0    Akash     Delhi
1  Akansha  Gurugram
2   Pulkit  Gurugram
3    Anand     Delhi
4    Naman     Noida

***Use the dataframe `sample_df` and `city` and find out the marks of students who live in Gurugram.***

---

In [30]:
### Write your code here
merged_df = pd.merge(sample_df, city, on='name')

# Filter the dataframe to include only students who live in Gurugram
gurugram_students = merged_df[merged_df['city'] == 'Gurugram']

# Get the marks of the students who live in Gurugram
marks_gurugram_students = gurugram_students['marks']

print(marks_gurugram_students)

1    23
3    41
Name: marks, dtype: int64

#### `READ THE BIG MART SALES DATA`

---

In [31]:
big_mart_data = pd.read_csv('dataset/big_mart_sales.csv')

In [37]:
big_mart_data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

#### Find out the number of unique `Item_Type` in each of the `Outlet_Identifier`

---

In [45]:
# WRITE YOUR CODE HERE
unique_item_types = big_mart_data.groupby('Outlet_Identifier')['Item_Type'].nunique()

In [46]:
print(unique_item_types)

Outlet_Identifier
OUT010    16
OUT013    16
OUT017    16
OUT018    16
OUT019    16
OUT027    16
OUT035    16
OUT045    16
OUT046    16
OUT049    16
Name: Item_Type, dtype: int64

#### Find out the average `Item_Outlet_Sales` for each category of `Outlet_Size`

---

In [48]:
# WRITE YOUR CODE HERE
average_sales_by_size = big_mart_data.groupby('Outlet_Size')['Item_Outlet_Sales'].mean()

In [49]:
print(average_sales_by_size)

Outlet_Size
High      2298.995256
Medium    2681.603542
Small     1912.149161
Name: Item_Outlet_Sales, dtype: float64

#### Select only the categorical variables from the dataframe and use `get_dummies` function to convert those into the numerical ones. 

---

In [50]:
# WRITE YOUR CODE HERE
categorical_vars = big_mart_data.select_dtypes(include=['object'])

In [51]:
numerical_vars = pd.get_dummies(categorical_vars)

In [52]:
data_with_dummies = pd.concat([big_mart_data, numerical_vars], axis=1)

In [53]:
print(data_with_dummies.head())

  Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility  \
0           FDA15         9.30          Low Fat         0.016047
1           DRC01         5.92          Regular         0.019278
2           FDN15        17.50          Low Fat         0.016760
3           FDX07        19.20          Regular         0.000000
4           NCD19         8.93          Low Fat         0.000000

               Item_Type  Item_MRP Outlet_Identifier  \
0                  Dairy  249.8092            OUT049
1            Soft Drinks   48.2692            OUT018
2                   Meat  141.6180            OUT049
3  Fruits and Vegetables  182.0950            OUT010
4              Household   53.8614            OUT013

   Outlet_Establishment_Year Outlet_Size Outlet_Location_Type  ...  \
0                       1999      Medium               Tier 1  ...
1                       2009      Medium               Tier 3  ...
2                       1999      Medium               Tier 1  ...
3                       1998         NaN               Tier 3  ...
4                       1987        High               Tier 3  ...

  Outlet_Size_High  Outlet_Size_Medium  Outlet_Size_Small  \
0                0                   1                  0
1                0                   1                  0
2                0                   1                  0
3                0                   0                  0
4                1                   0                  0

   Outlet_Location_Type_Tier 1  Outlet_Location_Type_Tier 2  \
0                            1                            0
1                            0                            0
2                            1                            0
3                            0                            0
4                            0                            0

   Outlet_Location_Type_Tier 3  Outlet_Type_Grocery Store  \
0                            0                          0
1                            1                          0
2                            0                          0
3                            1                          1
4                            1                          0

   Outlet_Type_Supermarket Type1  Outlet_Type_Supermarket Type2  \
0                              1                              0
1                              0                              1
2                              1                              0
3                              0                              0
4                              1                              0

   Outlet_Type_Supermarket Type3
0                              0
1                              0
2                              0
3                              0
4                              0

[5 rows x 1612 columns]